# twitter app
CONSUMER_KEY=""
CONSUMER_SECRET=""

# twitter user (a user token is used mainly because it gets more calls to
# lists/show in a given period; 180 vs. 15)
ACCESS_TOKEN=""
ACCESS_TOKEN_SECRET=""

MONGODB_URI="mongodb://localhost/bot-community"

# DEBUG="true"

SESSION_SECRET="a very secret secret"

PORT=8000
