{% extends 'layout.html' %}

{% block head %}
<script src="/js/bot-detail.js"></script>
{% endblock %}

{% block content %}
<div class="bot-detail clearfix" data-bot="{{ bot.twitter.screenName }}">
  <img alt="avatar for {{ bot.twitter.screenName }}"
    class="avatar img-thumbnail pull-right"
    src="{{ bot.twitter.avatar|avatar('original') }}">

  <div class="page-header">
    <h1>
      <a title="{{ bot.twitter.id }}"
        href="https://twitter.com/{{ bot.twitter.screenName }}">
        @{{ bot.twitter.screenName }}</a>

      <small>{{ bot.twitter.name }}</small>
    </h1>
  </div>

  {% if bot.twitter.description %}
    <blockquote>
      {{ bot.twitter.description|autolink }}
    </blockquote>
  {% endif %}

  {% if bot.twitter.mainUrl %}
  <p><strong>More information:</strong> <a
    href="{{ bot.twitter.mainUrl }}">{{ bot.twitter.mainUrl }}</a></p>
  {% endif %}

  <div class="row">
    <div class="col-md-3 narrow-dl">
      <dl class="dl-horizontal">
        <dt>Created</dt>
        <dd>{{ bot.twitter.createdAt|date('m-d-Y') }}</dd>

        {% if bot.twitter.location %}
          <dt>Location</dt>
          <dd>{{ bot.twitter.location }}</dd>
        {% endif %}
      </dl>

      <dl class="dl-horizontal">
        <dt>Statuses</dt>
        <dd>{{ bot.twitter.statuses|commas }}</dd>

        <dt>Followers</dt>
        <dd>{{ bot.twitter.followers|commas }}</dd>

        <dt>Listed</dt>
        <dd>{{ bot.twitter.listed|commas }}</dd>
      </dl>
    </div>

    <div class="col-md-9">
      <dl class="tags dl-horizontal">
        {% for tag in bot.tags %}
        <form data-id="{{ tag.id }}">
          <dt class="tag">{{ tag.key }}</dt>
          <dd class="tag">{{ tag.value }}</dd>
        </form>
        {% endfor %}

        <dt><a class="add-tag" href="#">add a tag</a></dt>
        <dd></dd>
      </dl>
    </div>
  </div>

  <p><small class="report"><a
    href="/bots/{{ bot.twitter.screenName }}/report/">Not an art
    bot?</a></small></p>
</div>
{% endblock %}
