{% extends 'layout.html' %}

{% block content %}
<div class="jumbotron">
  <h1>Welcome to bot.community</h1>

  <p>Let's build a taxonomy of art bots together! Check out the
    <a href="/guide/tagging/">tagging guide</a> or search for a bot to get
    started.</p>

  <div id="bot-search-wrapper" class="col-md-6 col-md-offset-3">
    <input id="bot-search" class="form-control input-lg" type="hidden">
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Taking their first steps</h2>

    <dl class="dl-horizontal">
      {% for bot in aggregates.newest %}
      <dt><a href="/bots/{{ bot.twitter.screenName }}/">
          {{ bot.twitter.screenName }}</a></dt>
      <dd>{{ bot.twitter.createdAt|date('m-d-Y') }}</dd>
      {% endfor %}
    </dl>
  </div>

  <div class="col-md-4">
    <h2>Need more pals</h2>

    <dl class="dl-horizontal">
      {% for bot in aggregates.least %}
      <dt><a href="/bots/{{ bot.twitter.screenName }}/">
          {{ bot.twitter.screenName }}</a></dt>
      <dd>{{ bot.twitter.followers|commas }}</dd>
      {% endfor %}
    </dl>
  </div>

  <div class="col-md-4">
    <h2>That is a lot of pals</h2>

    <dl class="dl-horizontal">
      {% for bot in aggregates.most %}
      <dt><a href="/bots/{{ bot.twitter.screenName }}/">
          {{ bot.twitter.screenName }}</a></dt>
      <dd>{{ bot.twitter.followers|commas }}</dd>
      {% endfor %}
    </dl>
  </div>
</div>
{% endblock %}
