img.avatar {
  max-width: 150px;
  max-height: 150px;
}

.dl-horizontal dt {
  width: 80px;
}

.dl-horizontal dd {
  margin-left: 100px;
}

.navbar-form .input-group {
  width: 300px;
}

.navbar-right {
  padding-right: 15px;
}

.jumbotron {
  padding-bottom: 8em;
}

#bot-search-wrapper {
  padding-top: 1em;
}
