.logged-out .add-tag,
.logged-out .report {
  display: none;
}

.logged-in .tag-login-text {
  display: none;
}

img.avatar {
  max-width: 150px;
  max-height: 150px;
}

.tags dt:hover,
.tags dd:hover {
  text-decoration: underline;
}

.narrow-dl .dl-horizontal dt {
  width: 80px;
}

.narrow-dl .dl-horizontal dd {
  margin-left: 100px;
}

.navbar-form .input-group {
  width: 300px;
}

.navbar-right {
  padding-right: 15px;
}

.jumbotron {
  padding-bottom: 8em;
}

#bot-search-wrapper {
  padding-top: 1em;
}
